*{
    box-sizing: border-box;
  }
  @font-face {
    font-family: "main";
    src: url("../calibri.ttf");
  }
  .header1{
    max-width: 100%;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .header1-container{
    margin: 0 auto;
    width: 70%;
    min-height: 70px;
    font-family: "main";
    font-weight: bold;
    font-size: 3rem;
    color: rgb(110, 109, 109);
    display: flex;
    text-align: center;
    justify-content: center;
  }