*{
  box-sizing: border-box;
  font-family: "main";
}
@font-face {
  font-family: "main";
  src: url("../calibri.ttf");
}
.container-signup {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 60px auto;
  width: 400px;
  height: 500px;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.55);
}
.title-signup {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  font-weight: bold;
  color: rgb(63, 62, 62);
  background-color: transparent;
  font-size: 3rem;
}
.input-zone-signup {
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}
.input-box1-signup,
.input-box2-signup,
.input-box3-signup {
  position: relative;
  width: 284px;
  height: 30px;
  margin: 30px auto 0 auto;
  border-bottom: 2px solid rgb(63, 62, 62);
}
.user-label-signup,
.pass-label-signup,
.email-label-signup {
  font-family: "main";
  position: absolute;
  transform: translateY(-50%);
  color: rgb(63, 62, 62);
  font-weight: bold;
  pointer-events: none;
  font-size: 1.2em;
  transition: 0.5s;
}
.user-label-signup{
    right: 204px;
}
.email-label-signup{
    right: 240px;
}
.pass-label-signup{
    right: 210px;
}

/* .user-input-signup:focus ~ label,
.user-input-signup:valid ~ label,
.pass-input-signup:focus ~ label,
.pass-input-signup:valid ~ label,
.email-input-signup:focus ~ label,
.email-input-signup:valid ~ label
 {
  top: -5px;
} */

.user-input-signup,
.pass-input-signup,
.email-input-signup {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  font-size: 1.2em;
  outline: none;
  color: rgb(63, 62, 62);
}
.remember-signup {
  margin: 16px 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(63, 62, 62);
}
.remember-signup-check{
  scale: 1.2;
}
.btn-signup {
  margin: 40px auto;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 20px;
  height: 40px;
  width: 290px;
  transition: transform 0.3s ease 0s;
  font-size: 1.2em;
  font-weight: bold;
  background-color: aliceblue;
  border: 2px solid rgb(60, 75, 96);
  color: rgb(63, 62, 62);
  border-radius: 10px;
}
.btn-signup:hover {
  color: white;
  background-color: rgb(74, 105, 142);
  border: 2px solid rgb(60, 75, 96);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.55);
  transition: 0.4s;
}
.log-link-signup{
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
@media screen and (max-width: 560px) {
  .container-signup {
    width:90%;
    align-items: center;
  }
   .input-zone-signup {
    width: 90%;
  }
  .input-box1-signup,
  .input-box2-signup,
  .input-box3-signup {
    width: 100%;
    margin: 30px 0;
  }
  .user-input-signup,
  .email-input-signup,
  .pass-input-signup {
    width: 100%;
  }
  .user-label-signup{
    right: 67%;
  }
  .pass-label-signup {
    right: 69%;
  } 
  .email-label-signup{
    right: 82%;
  }
  .btn-signup {
    margin-left: 0;
    margin: 30px auto 20px auto;

  }
  .remember-signup {
    margin-left: 0rem;
  }
  .remember-signup label {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .line-signup {
    width: 90%;
  }

}

